<footer class="page-footer teal">
    <div class="container">
        <div class="row">
        <div class="col l6 s12">
            <h5 class="white-text">Cedar LUG</h5>
            <p class="grey-text text-lighten-4">We are a group based around discussions of GNU/Linux as well as a resource for those wanting to learn about or get their first experience with GNU/Linux.</p>
        </div>

        <!-- The following section looks nice in the footer but has no use for now. Leaving it in comment in case we need it later.
        <div class="col l3 s12">
            <h5 class="white-text">Settings</h5>
            <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
            </ul>
        </div>
        -->
        <div class="col l6 s12">
            <h5 class="white-text">Connect</h5>
            <ul>
            <li><a class="white-text" href="https://gitlab.com/cedar-lug">Gitlab</a></li>
            <li><a class="white-text" href="https://github.com/cedarlug">Github</a></li>
            <li><a class="white-text" href="/mail">Mailing List</a></li>
            <li><a class="white-text" href="https://cgi.access.uni.edu/cgi-bin/student_orgs/student_orgs.cgi?oid=31">UNI Student Org Info</a></li>
            </ul>
        </div>
        </div>
    </div>
</footer> 