<nav class='purple darken-4'>
    <div class='container'>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">
                <img src="/static/tux.png" height="64" width="64">
            </a>
            <a href="/" class="brand-logo" style='padding-left: 7%'>Cedar LUG</a>              
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/upcoming">Upcoming Events</a></li>
                <li><a href="/archive">Archives</a></li>
                <li><a href="/officers">Officers</a></li>
                <li><a href="/mail">Mailing List</a></li>
            </ul>
        </div>
    </div>
</nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/upcoming">Upcoming Events</a></li>
    <li><a href="/archive">Archives</a></li>
    <li><a href="/officers">Officers</a></li>
    <li><a href="/mail">Mailing List</a></li>
  </ul>