{% extends 'layout.html' %}

{% block body %}
<div class='container'>
    <div class='section'>
        <div class='center'>
            <h1>What is a LUG?</h1>
            <p class='flow-text'>
                LUG stands for "Linux User Group". A Linux user groups is a place where
                people interested in Linux or already regular Linux users can meet and have discussions related to GNU/Linux.
            </p>
        </div>
    </div>

    <div class='section'>
        <div class='center'>
            <h1>What Does This LUG Do?</h1>
            <p class='flow-text'>
                The Cedar LUG trys to have a mix between discussions and talks from people on Linux related topics and
                events that give a more hands on experience using GNU/Linux. This includes things such as a LAN where members can volunteer
                to setup the servers that the attendees will be playing on. 
            </p>
            <p class='flow-text'>
                Also we have hosted install-a-thons where anyone can bring in a personal machine or use a provided machine to get experience 
                with the linux installation process.
            </p>
        </div>
    </div>

    <div class='section'>
        <div class='center'>
            <h1>Who Can Attend Meetings?</h1>
            <p class='flow-text'>
                This group is open to the public meaning anyone is welcome to attend during the posted meeting and event times. 
            </p>
        </div>
    </div>

    <div class='section'>
        <div class='center'>
        <h1>I Have an Unanswered Question</h1>
            <p class='flow-text'>
                If after going through this site you're still unsure about something you can email any of the <a href="/officers">Cedar LUG Officers</a> directly 
                and they will be more than happy to answer any question you have. 
            </p>
        </div>
    </div>    
</div>
{% endblock %}