{% extends 'layout.html' %}

{% block headImports %}
<link rel="stylesheet" href="{{ url_for('pygments_css') }}">
{% endblock %}

{% block body %}
<div class='container'>
<div class='container'>
{{post_text}}
</div>
</div>

{% endblock %}