{% extends 'layout.html' %}

{% block customCSS %}
<style>
    /* Makes the description text on posts black and leaves the title as the default green */
    a div {
        color: black;
    }
</style>
{% endblock %}

{% block body %}
<div class='container'>
    <div class='center'>
        <ul class="collection">
            <a class='collection-item' href="/archive/viruses">
                <h3>Is Linux Immune to Viruses?</h3>
                <div>
                    <b>Date: </b>April 10th, 2019 <br/>
                    <b>Time: </b> 6:00 PM <br/>
                    <b>Location: </b> ITTC 322 <br/>
                    <b>Summary: </b>
                    Habib Ullah discusses the nature of viruses in Linux
                    ecosystems and common misconceptions about Linux in the
                    context of viruses.
                </div>
            </a>
          
            <a class='collection-item' href="/archive/laser">
                <h3>Controlling a Laser Engraver With UNIX Text Streams and Python</h3>
                <div>
                    <b>Date: </b> March 27th, 2019 <br/>
                    <b>Time: </b> 6:00 PM <br/>
                    <b>Location: </b> ITTC 322 <br/>
                    <b>Summary: </b>
                    Nathan Schmidt will be going over the process of controlling a laser engraver using Python and UNIX text streams. This talk will feature a demo of controlling the laser engraver.
                </div>
            </a>
            
            <a class='collection-item' href="/archive/LAMP">
                <h3>Brighten Up Your Site With a LAMP</h3>
                <div>
                    <b>Date: </b> March 13th, 2019 <br/>
                    <b>Time: </b> 6:00 PM <br/>
                    <b>Location: </b> ITTC 322 <br/>
                    <b>Summary: </b> 
                    Michael Riesberg-Timmer goes over the process of installing a LAMP stack on Ubuntu Server for the purpose of hosting a website. 
                </div>
            </a>
        </ul>
    </div>
</div>
{% endblock %}
