{% extends 'layout.html' %}

{% block body %} 
    <div class="slider">
        <ul class="slides z-depth-3">
            <li>
                <img src="https://images.pexels.com/photos/159220/printed-circuit-board-print-plate-via-macro-159220.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"> 
                <div class="caption left-align">
                    <h3>"The choice of a GNU generation"</h3>
                </div>
            </li>            
        
            <li>
                <img src="https://c1.staticflickr.com/5/4135/4870003098_26ba44a08a_b.jpg"> 
                <div class="caption right-align">
                    <h3>GNU/Linux</h3>
                    <h5 class="light grey-text text-lighten-3">Powering servers near you</h5>
                </div>
            </li>
        
            <li>
            <img src="http://pngimg.com/uploads/linux/linux_PNG29.png">
            </li>
        </ul>
    </div>

    <div class='container'>
    <!-- About Us -->
    <div class='section'>
        <div class='center'>
            <h2>Cedar Valley Linux Users Group</h2>
            <p class="flow-text">
                The Cedar LUG is a place for discussions related to Linux and Linux related topics. This groups is a club representing the University of Northern Iowa. However, meetings are open to any community members wishing to participate.
            </p>
        </div>
    </div>

    <!-- Git information -->
    <div class='section'>
        <div class='divider'></div>
        <div class='center'>
            <h2>Git</h2>
            <p class="flow-text">
                You can see projects we're working on as a group including this site by visiting our gitlab @cedar-lug.
            </p>
            <p class="flow-text">
                Our projects are all open to contribution regardless of skill level. Please feel free to use this as a resource for learning about open source software contributions.
            </p>
            <a href="https://gitlab.com/cedar-lug" class='btn btn-large waves-effect waves-dark'>Gitlab</a>
        </div>
    </div> 
    
    <!-- What can we do? -->
    <div class='section'>
        <div class='divider'></div>
        <div class='center'>
            <h2>What We Do?</h2>
            <p class="flow-text">
                Cedar LUG does not limit itself strictly to GNU/Linux only discussion. In the past we have had members
                participate in the Cyber Defense Competition, host game servers for a LAN event, and build-a-thons where we put together Linux machines. 
            </p>
            <p class="flow-text">
                Along with these events we also have bi-weekly meetings where we either have discussions about upcoming events or have a presentation about a GNU/Linux related topic.
            </p>
            <a href="/archive" class="btn btn-large waves-effect waves-dark">See Past Discussions</a>
            <a href="/upcoming" class="btn btn-large waves-effect waves-dark">See Upcoming Events</a>
        </div>
    </div>    

    </div>
{% endblock %}

{% block bodyScripts %}
<script>
(function($){
    $(function(){
      $('.parallax').parallax();
      $('.slider').slider();
    }); // end of document ready
  })(jQuery); // end of jQuery name space  
</script>
{% endblock %}