<!DOCTYPE html>
<html>
    <head>
        <title>Cedar LUG</title>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
        {% block headImports %}{% endblock %}
    </head>

    {% block customCSS %}{% endblock %}

    <body>
        {% include 'includes/_navbar.html' %}
        
        {% block body %}{% endblock %}

        {% include 'includes/_footer.html' %}
        
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <script>
            (function($){
                $(function(){
                    $('.sidenav').sidenav();
                }); // end of document ready
            })(jQuery); // end of jQuery name space  
        </script>
        {% block bodyScripts %}{% endblock %}
    </body>

</html>