{% extends 'layout.html' %}

{% block body %}
<div class='container'>
    <div class='row'>
        <div class="card col s5">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="https://upload.wikimedia.org/wikipedia/commons/8/8d/President_Barack_Obama.jpg">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Nathan Schmidt - President<i class="material-icons right">more</i></span>
                <p><a href="mailto:schminak@uni.edu">schminak@uni.edu</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Nathan Schmidt - President<i class="material-icons right">close</i></span>
                <p>Nathan is the president currently. Nathan is working towards four majors which include 1,2,3,4. More info here.</p>
            </div>
        </div>
        
        <div class="card col s5 offset-s2">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="/static/officers/habib.jpg">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Habib Ullah - Vice President<i class="material-icons right">more</i></span>
                <p><a href="mailto:habib@uni.edu">habib@uni.edu</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Habib Ullah - Vice President<i class="material-icons right">close</i></span>
                <p>The dude</p>
            </div>
        </div>
    </div>

    <div class='row'>
        <div class="card col s5">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="/static/officers/sheriff.jpg">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Sheriff Jorkeh - Secretary<i class="material-icons right">more</i></span>
                <p><a href="mailto:jorkeh@uni.edu">Jorkeh@uni.edu</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Sheriff Jorkeh - Secretary<i class="material-icons right">close</i></span>
                <p>Our graduated boy.</p>
            </div>
        </div>

        <div class="card col s5 offset-s2">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="http://www.cs.uni.edu/~adberns/images/berns_lab.jpg">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Andrew Berns - Advisor<i class="material-icons right">more</i></span>        
                <p><a href="mailto:adberns@uni.edu">adberns@uni.edu</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Andrew Berns - Advisor<i class="material-icons right">close</i></span>
                <p>Andrew Berns is the acting advisor for the Cedar LUG group. He is an assistant professor teaching in the Computer Science department at the University of Northern Iowa. More information here.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}