{% extends 'layout.html' %}

{% block body %}
<div class='container'>
    <div class='center'>
        <ul class="collection">
            <li class='collection-item'>
              <h3>Closed for Summer</h3>
                <div>
                    <b>Summary: </b> 
                    The Cedar LUG has had it's last meeting for the semester.
                    Meetings will resume again Fall 2019. For more information
                    please contact any of the <a href="/officers">officers</a>. 
                </div>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
